::-webkit-scrollbar{
    background: var(--blue);
    width: 10px;
}

::-webkit-scrollbar-track{
    background: var(--dark-blue);
}

.transactions{
    display: grid;
    grid-template-columns: repeat(3, 70px);
    justify-content: center;
    column-gap: 20px;
    position: absolute;
    z-index: 10;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.transaction-btns{
    background: rgba(255, 255, 255, 0.4);
    padding: 20px;
    border-radius: 60px;
    border: 0px;
    position: relative;
    cursor: pointer;
    font-size: 24px;
    transition: 0.3s transform;
}

.transaction-btns:hover{
    transform: scale(1.1);
}

.transaction-btns::before{
    position: absolute;
    bottom: -40px;
    content: var(--text);
    font-size: 12px;
    left: 0;
    width: 100%;
}